body {
    background-color: #e6e6e6;
}

section {
    margin-bottom: 100px;
}

header {
    margin-bottom: 100px;
}

header.masthead {
    background: fixed;
    background-image: url("img/Mettet.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

h1.header,h2.header {
    color: whitesmoke;
    font-size: 80px;
}

img.logo {
    padding-right: 4px;
}

img.img-thumbnail {
    margin: 5px;
}

section.yamaha {
    background-image: url("img/YamahaAchtergrond.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

section.yamaha>.overlay {
    padding: 5rem 0;
    background: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    height: 100%;
}

section.arai {
    background-image: url("img/AraiAchtergrond.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

section.arai>.overlay {
    padding: 5rem 0;
    background: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    height: 100%;
}

footer.footer {
    background-image: url("img/FooterMountains.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer.schaduw>.overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}